<footer>
  <div class="icons">
    <a href="https://www.facebook.com/trifuszkamillaphoto/" target="_blank"
      ><img src="images/icons/facebook.png" alt="Facebook Logo"
    /></a>
    <a href="https://www.instagram.com/trifuszkamillaphoto/" target="_blank"
      ><img src="images/icons/instagram.png" alt="Instagram Logo"
    /></a>
    <a href="https://www.tiktok.com/@trifuszkamillaphoto" target="_blank"
      ><img src="images/icons/tik-tok.png" alt="TikTok Logo"
    /></a>
  </div>

  <span class="copyright"
    >All content Copyright © 2024 Trifusz Kamilla Photo</span
  >
</footer>
