<header>
    <div id="title"><a href="index.html">Trifusz Kamilla Photo</a></div>
    <nav class="options">
        <ul>
            <li><a href="/src/pages/index.html">Kezdőlap</a></li>
            <li><a href="about.html">Rólam</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/pages/portfolio.html">Portfólió</a>
                <div class="dropdown-content">
                    <a href="/pages/szabadteri.html">Szabadtéri Fotózás</a>
                    <a href="/pages/studio.html">Stúdiós Fotózás</a>
                    <a href="/pages//alom.html">Tenyésztőknek / Kenneleknek</a>
                    <a href="/pages//rendezmenyfotozas.html">Rendezvényfotózás</a>
                </div>
            </li>
            <li><a href="packages.html">Csomagok</a></li>
            <li><a href="gallery.html">Ügyfél galéria</a></li>
            <li><a href="contact.html">Kapcsolat</a></li>
        </ul>
    </nav>
</header>