@import "../../../styles/_variables.scss";

button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #ffffff00;
  a {
    background-color: $button-background;
    color: $button-text;
    font-family: Work sans;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.3rem 2.2rem 1.3rem 2.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.15s ease-in-out;
    text-decoration: none;
    border-radius: 3px;
  }

  a:hover {
    background-color: #fff;
    transition: background-color 0.15s ease-in-out;
  }
}
