<main>
  <app-carousel></app-carousel>
  <app-header [text]="'Állatfotózás'"></app-header>
  <app-paragraph [text]="'Szabadtéren, műteremben, de akár a saját otthonod kényelmében is tudunk stúdiót varázsolni! ☺️'"></app-paragraph>
  <app-picture></app-picture>
  <app-line></app-line>
  <app-header [text]="'Nézz bele a munkásságomba!'"></app-header>
  <!-- TODO: option picker (horse, dog, small pet) -->
   <app-button [text]="'itt éred el a portfóliómat!'"></app-button>
   <app-line></app-line>
   <app-picture></app-picture>
</main>
