@import "styles/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text_color;
}

body {
  background-color: $background_color;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
